body{
  background: #dcd8d8;
  font-family: monospace;
}
#title{
  font-size: 20px;
  margin-top: 30px;
}
#logIn,#logOut {
  display: block;
  float: right;
  margin-left: 5px;
}
#noTaken{
  display: block;
  float: right;
  margin-left: 10px;
}
.hvr-fade {
  background-color: #CCDFD9;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #90BAAD;
  color: white;
}
.vcenter{
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.vcenter img{
  display: inline-block;
  vertical-align: middle;
  float: none;
  border-radius: 50%;
}
#followsInfo {
  margin-bottom: 20px;
}
#followsInfo img{
  border-radius: 50%;
  width: 100px;
}
#followsInfo p{
  margin-bottom: 0px;
}
#followsInfo li,#followsInfoPics2 li{
  list-style-type: none;
  margin: 10px;
}
#followsInfoPics1 img{
  border-radius: 50%;
  width: 50px;
  margin: 10px;
}
#followsInfoPics1 span{
  font-size: 16px;
}
#followsInfoPics2 img{
  border-radius: 6px;
  width: 150px;
}
.hvr-bubble-float-bottom:before {
  border-color: #90BAAD transparent transparent transparent;
}
@media (max-width: 480px) {
  #followsInfo img{
    width: 80px;
  }
  .vcenter img{
    width: 120px;
  }
  p{
    font-size: 12px;
  }
}
