body{
  background: #dcd8d8;
  font-family: monospace;
}
#title{
  font-size: 20px;
  margin-top: 30px;
}
#logIn,#logOut {
  display: block;
  float: right;
  margin-left: 5px;
}
#logoutArea {
  display: block;
  float: right;
  margin-left: 5px;
}
#notaken{
  display: block;
  float: right;
  margin-left: 10px;
}
.hvr-fade {
  background-color: #CCDFD9;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #90BAAD;
  color: white;
}
.vcenter{
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.vcenter img{
  display: inline-block;
  vertical-align: middle;
  float: none;
  border-radius: 50%;
  margin-bottom: 30px;
}
#followsInfo {
  margin-bottom: 20px;
}
#followsInfo img{
  /*border-radius: 6px;*/
  border-radius: 50%;
}
#followsInfo p{
  margin-bottom: 0px;
}
#followsInfo li,#followsInfo1 li{
  list-style-type: none;
  margin: 10px;
}
#followsInfo1 img{
  border-radius: 6px;
  width: 150px;
}
.hvr-bubble-float-bottom:before {
  border-color: #90BAAD transparent transparent transparent;
}
