
.container{
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
}
.intro{
  background-color: #dcd8d8;
  padding-top: 75px;
  padding-bottom: 125px;
  position: relative;
  color: white;
  text-align: center;
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Chela One', cursive;
}
.intro span{
  color: #EF788C;
}
.intro a{
  color: white;
}
.intro a:hover{
  color: #EF788C;
}
/*slide show-----------*/
#slideshow {
  z-index: 2;
  position: absolute;
  width: 500px;
  height: 280px;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}


/*---------------------*/
#pc_img img{
  width: 60%;
  position: relative;
  top: -70px;
  margin-bottom: 10%;
}
.rectangle img{
  margin: 0.5%;
  max-width: 280px;
  width: 22%;
  position: relative;
}
.center{
  text-align: center;
}
.left{
  text-align: left;
}
/*Organizing the position of icons and text*/
.rectangle a{
    color: #696464;
    font-size: 2vW;
}
.rectangle a:hover{
  color: #EF788C;
}

#rectangle2{
  position: absolute;
  z-index:2;
  top: 38%;
  left: 32%;
}
#rectangle3{
  position: absolute;
  z-index:2;
  top: 38%;
  left: 54.5%;
}
#rectangle5{
  position: absolute;
  z-index:2;
  top: 33%;
  left: 12%;
}
#rectangle6{
  position: absolute;
  z-index:2;
  top: 33%;
  left: 33.5%;
}
#rectangle8{
  position: absolute;
  z-index:2;
  top: 33%;
  left: 78%;
}
/*---------------------------*/
#Portfolio img{
  width: 60%;
  margin: 3%;
}
#me h2,
#contactform h2{
  font-family: 'Chela One', cursive;
  color: #696464;
}
#me p,
#me h4,
#me ul li,
#contactform label{
  font-family: 'Acme', sans-serif;
  color: #696464;
  font-size: 20px;
}
/*Sliding drawer menu icon, For Screen size>420px display:none;--> hide*/
#navToggle {
    display:none;
    position:absolute;
    right:13px;
    top:13px;
    width:30px;
    height:25px;
    cursor:pointer;
  }
#navToggle div {
  position:relative;
}
#navToggle span {
    display:block;
    position:absolute; /*For #navToggle div*/
    width:100%;
    border-bottom:solid 3px #999;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
  }
#navToggle span:nth-child(1) {
  top:0px;
}
#navToggle span:nth-child(2) {
  top:11px;
}
#navToggle span:nth-child(3) {
  top:22px;
}

/*Big screen navigation*/
header{
    width:100%;
    z-index:2;
    /*position:fixed;*/
    /*background:rgba(255,255,255,.7);*/
    background: #dcd8d8;
    display:table;
    font-size:0px;
    line-height:0;
    color: #696464;
}
header h1 nav {
    display:table-cell;
}
nav {
    text-align:right;
    vertical-align:bottom;
}
header a img {
    height:40px;
    margin:10px;
}
header ul {
    font-size:20px;
    line-height:1px;
    margin:0px 10px 10px 0px;
    text-align: center;
}
header ul li {
    margin-left:17px;
    display:inline-block;
}
header ul li::after {
  content:' |';
}
header ul li:last-child::after {
  content:'';
}
header ul li a {
  color:inherit;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  font-family: 'Pathway Gothic One', sans-serif;
}
header ul li a:hover {
    background: #EF788C;
}

/*For small screen, screen size <420px */
@media screen and (max-width: 757px){

      /*Navigation Menu*/
      header ul{
        z-index:2;
        margin:0px;
        position: absolute;
        right:0px;
         /*outside of screen(hide)*/
        top: -300px;
        background:rgba(255,255,255,.7);
        width:50%;
        padding:0px 10px;
        /*transition moving*/
        -webkit-transition:.5s ease-in-out;
        -moz-transition:.5s ease-in-out;
        transition:.5s ease-in-out;
        text-align:left;
        font-size: 13px;
      }
      header ul li{
          display:block;
          margin: 0px;
          border-bottom:dotted 1px #fff;
          line-height:3;
      }
      header ul li a{
        display:block;
      }
      header ul li::after {
        content:'';
      }
      header ul li:last-child {
        border-bottom:none;
      }

      /* skiding drawer menu*/
      /*display:none(hide) --> display:block(show)*/
      #navToggle {
        display:block;
      }

      /*.openNav ul move Y to 351px --> show*/
      .openNav ul{
          -moz-transform: translateY(351px);
          -webkit-transform: translateY(351px);
          transform: translateY(351px);
      }


      /* Click Toggle(Button) change style*/
      .openNav #navToggle span:nth-child(1) {
          top: 11px;
          -webkit-transform:rotate(-45deg);
          -moz-transform:rotate(-45deg);
          transform:rotate(-45deg);
      }
      .openNav #navToggle span:nth-child(2) {
          top: 11px;
          -webkit-transform:rotate(45deg);
          -moz-transform:rotate(45deg);
          transform:rotate(45deg);
      }
      .openNav #navToggle span:nth-child(3) {
          top: 11px;
          -webkit-transform:rotate(45deg);
          -moz-transform:rotate(45deg);
          transform:rotate(45deg);
      }

      /*slideshow make img smaller and position*/
      #slideshow{
        top: 25%;
        left: 63%;
      }
      #slideshow img{
        width: 60%;
      }
      /*-----------------------*/
}
@media screen and (max-width: 420px){
    #slideshow{
      top: 45%;
      left: 106%;
    }
    #slideshow img{
      width: 25%;
    }
    /*#pageTop {
      right: 266px;
    }
    #pageTop a {
      font-size: 60px;
    }*/
}
/*footer*/
footer{
    margin-top: 25px;
    background-color: #dcd8d8;
    height: 100px;
    width:100%;
    display:table;
}
footer ul {
    font-size: 13px;
    line-height: 1px;
    margin: 0px 10px 10px 0px;
    text-align: center;
}
footer ul li {
    margin-top: 25px;
    margin-left:17px;
    display:inline-block;
}
footer ul li a:hover {
    background: red;
}

footer h1 nav {
    display:table-cell;
}

footer ul li a {
  color:inherit;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
}

/**/
#pageTop {
  position: fixed;
  bottom: 1%;
  right: 0%;
  /*bottom: 20px;
  right: 20px;*/
}
#pageTop a {
  z-index: 10;
  color: #337ab7;
  font-size: 80px;
}
#pageTop a:hover {
  /*text-decoration: none;*/
  opacity: 0.7;
}
