@import url("https://fonts.googleapis.com/css?family=Monofett|Open+Sans");
/*Sliding drawer menu icon, For Screen size>420px display:none;--> hide*/
/*Big screen navigation*/
header {
  width: 100%;
  z-index: 2;
  display: table;
  font-size: 0px;
  line-height: 0; }
  header h1 nav {
    display: table-cell; }
  header ul {
    font-size: 13px;
    line-height: 1px;
    margin: 40px 0px 40px 0px;
    padding-left: 0px;
    text-align: center; }
    header ul li {
      margin-left: 17px;
      display: inline-block; }
      header ul li:after {
        content: ' |'; }
      header ul li:last-child::after {
        content: ''; }
      header ul li a {
        color: inherit;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out; }
        header ul li a:hover {
          background: #EF788C;
          color: #6a6c6d;
          text-decoration: none; }

@media screen and (max-width: 370px) {
  nav {
    display: none; } }
/*For small screen, screen size <420px */
/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }
  .timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
    line-height: inherit; }

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative; }
  .timeline-item:last-child {
    padding-bottom: 0; }

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap; }

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px; }
  .timeline-marker:before {
    background: #EF788C;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out; }
  .timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px; }
  .timeline-item:last-child .timeline-marker:after {
    content: none; }

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #EF788C; }

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
  text-align: left; }
  .timeline-content p:last-child {
    margin-bottom: 0; }

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0; }
  .period .timeline-info {
    display: none; }
  .period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB; }
  .period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto; }
  .period .timeline-content {
    padding: 40px 0 70px; }
  .period .timeline-title {
    margin: 0; }

@media (min-width: 768px) {
  .timeline-centered .timeline {
    display: table; }
  .timeline-centered .timeline-item {
    display: table-row;
    padding: 0; }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content,
  .timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top; }
  .timeline-centered .timeline-marker {
    position: relative; }
  .timeline-centered .timeline-content {
    padding-left: 30px; }
  .timeline-centered .timeline-info {
    padding-right: 30px; }
  .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px; } }
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0; }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden; }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px; }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 45%; }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px; }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px; }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px; }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px; }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center; }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px; }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto; }
  .timeline-centered .period .timeline-title {
    left: auto; } }

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #6a6c6d;
  height: 100%;
  text-align: center; }

section .title {
  font-family: "Monofett", sans-serif; }

#top {
  background-color: #dcd8d8;
  height: 100%; }

#intro {
  padding-top: 15%;
  color: white;
  text-align: center;
  width: 100%; }
  #intro span {
    color: #EF788C; }
  #intro a {
    margin: 10px;
    color: white; }
  #intro a:hover {
    color: #EF788C; }
  #intro img {
    max-width: 50px; }

.portfolioArea {
  padding: 100px; }

.portfolio-img {
  max-width: 70%; }

#experience {
  background-color: #dcd8d8; }

/*footer*/
footer {
  color: white;
  background: #333;
  padding-top: 20px;
  padding-bottom: 20px; }
  footer img {
    max-width: 40px; }
  footer a {
    color: white;
    padding-right: 20px;
    padding-left: 20px; }
    footer a:hover {
      color: #EF788C; }
  footer .fa:hover {
    color: #EF788C; }

/*pageTop*/
#pageTop {
  position: fixed;
  bottom: 10%;
  right: 5%; }
  #pageTop a {
    z-index: 10;
    color: #6a6c6d;
    font-size: 50px;
    opacity: 0.8; }
    #pageTop a:hover {
      opacity: 0.5; }

.padding-top-bottom {
  padding-top: 50px;
  padding-bottom: 100px; }

.padding-top-bottom50 {
  padding-top: 50px;
  padding-bottom: 50px; }

#plumeria img {
  max-width: 50px; }

/*# sourceMappingURL=styles.css.map */
