
body {
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-weight: 300;
}

.container{
  margin-left: 10;
  margin-right: 10;
  margin-top: 10;
  margin-bottom: 10;
}
.site-box{
  border-top: 1px solid #000000;
  border-bottom : 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.text-underline {
    text-decoration:underline;
    /*text-decoration:none;*/
    /*border-bottom:solid 1px black ;*/
}
.text-margin{
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

.m40{
  margin-bottom: 40px;
  margin-top: 40px;
}
.m80{
  margin-bottom: 80px;
  margin-top: 80px;
}


.text-pink {
    color: #F7084D;
}

.btn a{
  border-radius: 12px;
  border: #000000 solid 2px;
  color: #000000;
  font-size: 16px;
  padding: 5px 25px;
}

.btn_green{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  height: 151%
}

.btn_green a{
  margin-top: 10px;
  border-radius: 12px;
  border: #4D7A35 solid 2px;
  color: #4D7A35;
  font-size: 10px;
  padding: 5px 10px;
}

.text-brightgrayishcyan{
  color:#85afae;
}

.text-thin {
    font-weight: 100;
}

.font-60 {
    font-size: 60px;
}

.font-80 {
    font-size: 80px;
}

.title-logo {
    margin-top: 20px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.graybox{
  background-color: gray;
  color:white;
  width: 98%;
  height: 50px;
  margin-left: 12px;
}

/*.row p{
      margin-top: 20px;
      margin-bottom: 135px;
}

.row img{
      margin-top: 10px;
}*/
