#all{
  width: 100%;
  height: 90%;
  background-color:#fffd8f;
  position: relative;
}

.color-div{
  width:98%;
  height: 31%;
  top:10px;
  margin: 10px;
  position: relative;
}

#div-red{
  background-color:#ff9088;
}

#div-green{
  background-color:#c0ffad;
}

#div-blue{
  background-color:#a1caff;
}
