#all{
  width: 100%;
  height: 90%;
  background-color:#fffd8f;
  position: relative;
}

.color-div{
  width:98%;
  height: 31%;
  top:10px;
  margin: 10px;
  position: relative;
}

#div-red{
  text-align: center;
  background-color:#ff9088;
}

#div-green{
  position: relative;
  text-align: center;
  background-color:#c0ffad;

}

#div-blue{
  position: relative;
  text-align: center;
  background-color:#a1caff;
}

#div-profile{
  position:relative;
  height: 90%;
  top:5%;
}

#div-profile img{
  position:relative;
  height:100%;
  border-radius:70%;
}

#div-green span{
  position:relative;
  font-size: 60px;
  font-family: fantasy;
  top:5%;
}

#div-blue span{
  position:relative;
  font-size: 20px;
  font-family: monospace;
  top:5%;
}

#div-move{
  width:50%;
  height: 50%;
  position:relative;
}
