
body {
    /*font-family: 'Lato', sans-serif;*/
    color: #000000;
    font-weight: 300;
}
/* ****** menu bar****** */
/*.nav-pills>li.active>a,*/
.nav-pills>li>a:hover,
.nav-pills>li>a:focus{
  text-decoration: none;
  background-color:red;
  color:white;
  border-radius: 0px;
}

.nav-pills a{
  color: black;
}
.row ul{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 0px;
}

/* ********************* */

/* ****** top image ****** */
.image_beach{
  height: 700px;
  background-image: url(../img/beach.jpg);
  background-size: 100% 100%;
  background-position: center;
}

.image_text{
  font-family: 'Rammetto One', cursive;
  color: white;
  text-align: center;
  padding-top: 255px;
}

.image_light{
  height: 300px;
  width: 300px;
  background-image: url(../img/light.png);
  background-size: 100% 100%;
  background-position: center;
}

.image_light p{
  position: relative;
  font-family: 'Rammetto One', cursive;
  font-size: 40px;
  color: black;
  text-align: center;
  top: 40%;
  height: 60px;
  width: 110%;
  left: -5%;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Chango', cursive;
}
/* ********************* */

/* ******Portfolio image text****** */
.light img{
  width: 50%;
  height:50%;
  left: 25%;
  position: relative;
}

.light span{
  font-size: 30px;
  display: block;
  text-align: center;
}
/* ********************* */

.container{
  margin-left: 10;
  margin-right: 10;
  margin-top: 10;
  margin-bottom: 10;
}
.site-box{
  border-top: 1px solid #000000;
  border-bottom : 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.text-underline {
    text-decoration:underline;
    /*text-decoration:none;*/
    /*border-bottom:solid 1px black ;*/
}

/*font-size, font- family, margin  ****** */
.font-style{
  font-family: 'Chango', cursive;
}

.font-60 {
    font-size: 60px;
}

.font-80 {
    font-size: 80px;
}

.font-35 {
    font-size: 35px;
}

.text-margin{
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

.m40{
  margin-bottom: 40px;
  margin-top: 40px;
}
.m80{
  margin-bottom: 80px;
  margin-top: 80px;
}

.text-pink {
    color: #F7084D;
}

.text-brightgrayishcyan{
  color:#85afae;
}
/* ********************* */

.btn a{
  border-radius: 12px;
  border: #000000 solid 2px;
  color: #000000;
  font-size: 16px;
  padding: 5px 25px;
}

.btn_green{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  height: 151%
}

.btn_green a{
  margin-top: 10px;
  border-radius: 12px;
  border: #4D7A35 solid 2px;
  color: #4D7A35;
  font-size: 10px;
  padding: 5px 10px;
}

.title-logo {
    position: relative;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    /*text-align: center;*/
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.graybox{
  background-color: gray;
  color:white;
  width: 98%;
  height: 50px;
  margin-left: 12px;
}

.btmbg{
  background-color: gray;
}
