@import url('https://fonts.googleapis.com/css?family=Monofett|Open+Sans');
$open-sans: 'Open Sans', sans-serif;
$monofett: 'Monofett', sans-serif;

$bg-color: #dcd8d8;
$main-font-color:#696464;
$primary-color: #EF788C;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);
$footer-bg-color: #333;
